.span2.sidebar
  .well.sidebar-nav
    ul.project-list.sidebar-list.nav.nav-list
      li.nav-header Projects
      li
        a(href='#project:all') All
    ul.sidebar-bottom.nav.nav-list
      li.divider
      li.nav-header Tips
      li.tips
        | Click Project List above to filter by project,
        | or click Tabs above to filter by media.
.span10.workspace
  #content_view.content-view
    ul.action-bar
      li.action-buttons.pull-right
        button.btn.icon-refresh(name='reload', title='Reload Table') Reload
      li.pull-left
        ul#media-filter.nav.nav-pills
          li.active
            a(href='#media:all') All
          li
            a.icon-page(href='#media:page') Page
          li
            a.icon-facebook(href='#media:facebook') Facebook
          li
            a.icon-twitter(href='#media:twitter') Twitter
          li
            a.icon-mail(href='#media:email') Email
      li.grid-filter
    #t_content_action_cell.tpl
      a.btn.btn-info.btn-round.icon-report(title='View report', name='report')
      a.btn.btn-round.icon-link-ext(title='View post in new window', name='view', target='_blank')
      .pre-status
        a.btn.btn-primary.btn-round.icon-edit(title='Edit', name='edit', href='#content/{{id}}')
        a.btn.btn-info.btn-round.icon-view(title='Preview', name='preview', href='#content/{{id}}/preview')
        button.tmp.btn.btn-danger.btn-round.icon-block(title='Block', name='block', disabled)
    .grid-scroller
      table#content_table.grid-table
        caption.loading.icon-spinner.animate-spin
    .grid-paginator

include editor

// temp hide remove selected, remove buttons
