#report_viewer.modal.modal-full.hide.fade(aria-labelledby='report_viewer_title', aria-hidden='true')
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
    ul.nav.nav-tabs
      li
        h3 Report Details
      li.active
        a(target='#report_overview', data-toggle='tab') Overview
      li
        a(target='#report_feedback', data-toggle='tab') Feedbacks
      li
        a(target='#report_analysis', data-toggle='tab') Analysis
      li
        a(target='#report_submissions', data-toggle='tab') Submissions
  .modal-body.tab-content
    #report_overview.tab-pane.active
      div.chart#overview_chart
        h4.title Not Availble
        svg
    #report_feedback.tab-pane
      //- stacked area chart must be in top for tooltip position
      #stacked.chart.with-3d-shadow.with-transitions
        svg
      #stacked_options
        .btn-group(data-toggle='buttons-radio')
          button.btn.active#option_accumulative(type='button') Accumulative
          button.btn(type='button') Discrete
        .btn-group(data-toggle='buttons-radio')
          button.btn.active#option_daily(type='button') Daily
          button.btn(type='button') Hourly
    #report_analysis.tab-pane
      #t_section.tpl
        legend {{name}}
        div.span5.chart(id='pie_{{i}}')
          svg
        div.span6.chart(id='bar_{{i}}')
          svg
    #report_submissions.tab-pane
      h4 Not Availble
  .modal-footer
    button.btn(data-dismiss='modal', aria-hidden='true') Close
