#calendar.frame.container-fluid
  .active.row-fluid.inner-frame
    .span2.sidebar
      .well
        ul.sidebar-list.nav
          li.nav-header Tasks
          li
            a.external-event(href='#') Empty
          li
            a.external-event(href='#') Empty
        ul.sidebar-bottom.nav.nav-list
          li.divider
          li.nav-header Tips
          li.tips ...
    .span10.workspace
      #calendar_view.content-view
