#config.frame.container-fluid
  .active.row-fluid.inner-frame
    .span2.sidebar
      .well.sidebar-nav
        ul.sidebar-list.nav.nav-list
          li.nav-header Configuration
          li
            a(href='#config/tenant') Tenant Profile
          li.nav-header Members Management
          li
            a(href='#config/users') Member List
          li.nav-header Members of Projects
          li
            a(href='#config/users/project1') Project 1
          li
            a(href='#config/users/project2') Project 2
        ul.sidebar-bottom.nav.nav-list
          li.divider
          li.nav-header Tips
          li.tips ...
    .span10.workspace
      #tenant_profile.inner-frame.active(name='profile')
        form.form-horizontal
          .control-group
            label.control-label(for='tenant_id') ID
            .controls
              input#tenant_id.input-large.uneditable-input(type='text', placeholder='tenant_id', name='id', maxlength='64')
          .control-group
            label.control-label(for='tenant_name') Name
            .controls
              input#tenant_name.input-large(type='text', placeholder='Organization Name', name='name', maxlength='255')
          .control-group
            label.control-label(for='tenant_desc') Description
            .controls
              textarea#tenant_desc(placeholder='Description about the organization ...', rows='4', name='desc')
          hr
          .control-group
            label.control-label(for='contact_name') Contact Name
            .controls
              input#contact_name.input-large(type='text', name='contact', placeholder='Contact Name')
          .control-group
            label.control-label(for='contact_email') E-mail
            .controls
              input#contact_email.input-large(type='text', name='email', placeholder='contact@email.org')
          .control-group
            label.control-label(for='contact_tel') Tel #
            .controls
              input#contact_tel.input-large(type='text', name='tel', placeholder='(408) 888-8888')
          .control-group
            label.control-label(for='contact_fax') Fax
            .controls
              input#contact_fax.input-large(type='text', name='fax', placeholder='(408) 888-9999')
          .control-group
            label.control-label(for='contact_addr') Address
            .controls
              input#contact_addr.input-xxlarge(type='text', name='addr', placeholder='Contact Street Address')
          .form-actions
            input.btn.btn-primary(type='submit', value='Update')
            input.btn(type='reset', value='Reset')
      #user_manager.inner-frame(name='manager') Member List (support filter)
