.span2.sidebar
  .well.sidebar-nav
    ul.project-list.sidebar-list.nav.nav-list
      li.nav-header Projects
      li
        a(href='#project:all') All
    ul.sidebar-bottom.nav.nav-list
      li.divider
      li.nav-header Tips
      li.tips
        | Click Project List above to filter by project,
        | or click Tabs above to filter by media.
.span10.workspace
  #content_view.content-view
    ul.action-bar
      li.pull-left
        ul#media-filter.nav.nav-pills
          li.active
            a(href='#media:all') All
          li
            a(href='#media:page') Page
          li
            a(href='#media:facebook') Facebook
          li
            a(href='#media:twitter') Twitter
          li.disabled
            a(href='#media:email') Email
      li.grid-filter
      li.action-buttons.pull-right
        button.btn(name='reload', title='Reload Table') Reload
        button.btn.enable_if_selected(name='view_selected', title='View Selected', disabled).hide View
        button.btn.btn-danger.enable_if_selected(name='remove_selected', title='Remove Selected', disabled).hide Remove
    #t_content_action_cell.tpl
      a.btn.btn-info.btn-round.icon-search(title='View post in new window', name='view', target='_blank')
      button.btn.btn-primary.btn-round.icon-edit(title='Edit', name='edit')
      button.hide.btn.btn-danger.btn-round.icon-close(title='Remove', name='remove')
    table#content_table.grid-table
    .grid-paginator
// temp hide view_selected, remove_selected, and remove buttons
