.span2.sidebar
  .well.sidebar-nav
    ul.sidebar-list.nav.nav-list
      li.nav-header Notification
    ul.sidebar-bottom.nav.nav-list
      li.divider
      li.nav-header Tips
      li.tips ...
.span10.workspace
  #home_view.content-view
    #project_overview_tpl.tpl
      .row-fluid.project-overview
        .well
          .page-header
            h3
              | {{name}}
              small {{counts}}
              small {{desc}}
          .wf-diagram.well
          p {{status}}
          a.btn(href='#project/{{id}}') View details &raquo;
