ul.nav.pull-right
  li.dropdown
    a(href='#profile')
      img#avatar(src='https://secure.gravatar.com/avatar/3c9ee8ba63d0a6dc154a05b45de7d885?s=20')
      span#username Wilson
      b.caret
    ul.dropdown-menu
      li
        a.icon-user(href='#profile') Profile
      li.divider
      li
        a.icon-logout(href='#signout') Sign Out
ul.nav
  li
    a.icon-home(href='#home') Home
  li.dropdown
    a.icon-project(href='#project')
      | Project
      b.caret
    ul.dropdown-menu
      li.tmp
        a.icon-wizard(href='#project/wiz') New Project Wizard
      li
        a.icon-new(href='#project/new') Create new Project
      li.divider
      li
        a.icon-manager(href='#project/mgr') Manage Projects
  li.dropdown
    a.icon-workflow(href='#workflow')
      | Workflow
      b.caret
    ul.dropdown-menu
      li
        a.icon-new(href='#workflow/new') Create new Workflow
      li.divider
      li
        a.icon-manager(href='#workflow/mgr') Manage Workflows
  li
    a.icon-page(href='#content') Content
  li
    a.icon-calendar(href='#calendar') Calendar
  li
    a.icon-report(href='#report') Report
  li.dropdown
    a.icon-config(href='#config')
      | Configuration
      b.caret
    ul.dropdown-menu
      li
        a.icon-config(href='#config/tenant') Tenant Profile
      li.divider
      li
        a.icon-users(href='#config/users') Manage Members
