form#user_profile.form-horizontal
  section
    legend
      | User Profile
      a.btn.btn-warning.pull-right(href='#signout') Sign Out
      a#update_user.btn.btn-primary.pull-right(title='Update Your Profile',
      data-placement='bottom', href='#config/users', disabled) Update
    .control-group
      label.control-label(for='user_avatar') Avatar
      .controls
        a#user_avatar.thumbnail(href='http://gravatar.com/emails/', target='_blank', title='Change your avatar at gravatar.com')
          img(alt='Avatar')
    .control-group
      label.control-label(for='user_email') Email
      .controls
        input#user_email(type='email', name='email', placeholder='user@company.com', maxlength='255', disabled)
    .control-group
      label.control-label(for='first_name') First Name
      .controls
        input#first_name(type='text', name='first_name', placeholder='First Name', maxlength='255', readonly)
    .control-group
      label.control-label(for='last_name') Last Name
      .controls
        input#last_name(type='text', name='last_name', placeholder='Last Name', maxlength='255', readonly)
    .control-group
      label.control-label(for='user_sex') Sex
      .controls
        input#user_sex(type='text', name='sex', placeholder='Unspecified', readonly)
    .control-group
      label.control-label(for='user_title') Title
      .controls
        input#user_title(type='text', name='title', placeholder='User Title', maxlength='32', readonly)
    .control-group
      label.control-label(for='user_desc') Description
      .controls
        textarea#user_desc(name='desc', cols='30', rows='3', maxlength='2048', placeholder='Description', readonly)
