#project.frame.container-fluid
  #project_creator.row-fluid.inner-frame(name='creator') Project Creater
  #project_viewer.row-fluid.inner-frame(name='viewer') Project Viewer
  #project_manager.active.row-fluid.inner-frame(name='manager') Project Manager
