.span2.sidebar
  .well.sidebar-nav
    ul.project-list.sidebar-list.nav.nav-list
      li.nav-header Projects
      li
        a(href='#project:all') All
    ul.sidebar-bottom.nav.nav-list
      li.divider
      li.nav-header Tips
      li.tips
        | Click Project List above to filter by project,
        | Click the link in the right table to view detailed report.
.span10.workspace
  #report_view.report-view
    ul.action-bar
      li.head Reports
      li.pull-left.tmp
        ul#media-filter.nav.nav-pills
          li.active
            a(href='#media:all') All
          li
            a(href='#media:page') Page
          li
            a(href='#media:facebook') Facebook
          li
            a(href='#media:twitter') Twitter
          li.disabled
            a(href='#media:email') Email
      li.action-buttons.pull-right
        button.btn(name='reload', title='Reload Table') Reload
        button.tmp.btn.btn-danger.enable_if_selected(name='remove_selected', title='Remove Selected', disabled) Remove
      li.grid-filter
    #t_report_action_cell.tpl
      a.btn.btn-info.btn-round.icon-report(title='View post in new window', name='view', href='#report/{{id}}')
      button.btn.btn-primary.btn-round.icon-edit.tmp(title='Edit', name='edit')
      button.tmp.btn.btn-danger.btn-round.icon-close(title='Remove', name='remove')
    .grid-scroller
      table#report_table.grid-table
        caption.loading.icon-spinner.animate-spin
    .grid-paginator

//- temp hide media-filter, edit and remove buttons

#report_viewer.modal.modal-full.hide.fade(aria-labelledby='report_viewer_title', aria-hidden='true')
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
    ul.nav.nav-tabs
      li
        h3 Report Details
      li
        a(href='#report_overview', data-toggle='tab') Overview
      li.active
        a(href='#report_charts', data-toggle='tab') Evaluated Charts
      li
        a(href='#report_feedback', data-toggle='tab') Feedback Collection
      li
        a(href='#report_files', data-toggle='tab') Submitted Results
  .modal-body.tab-content
    #report_overview.tab-pane
      h4 Report Overview
    #report_charts.tab-pane.active
      //- stacked area chart must be in top for tooltip position
      div.chart.with-3d-shadow.with-transitions#stacked
        h4 Stacked Area Chart
        svg
      div.span5.chart#pie
        h4 Pie Chart
        svg
      div.span6.chart#bar
        h4 Bar Chart
        svg
    #report_feedback.tab-pane
      h4 Feedback Collection
    #report_files.tab-pane
      h4 Submitted Results
  .modal-footer
    button.btn(data-dismiss='modal', aria-hidden='true') Close
