.span2.sidebar
  .well.sidebar-nav
    ul.project-list.sidebar-list.nav.nav-list
      li.nav-header Projects
      li
        a(href='#project:all') All
    ul.sidebar-bottom.nav.nav-list
      li.divider
      li.nav-header Tips
      li.tips
        | Click Project List above to filter by project,
        | Click the link in the right table to view detailed report.
.span10.workspace
  #report_view.report-view
    ul.action-bar
      li.head Report
      li.pull-left.tmp
        ul#media-filter.nav.nav-pills
          li.active
            a(href='#media:all') All
          li
            a(href='#media:page') Page
          li
            a(href='#media:facebook') Facebook
          li
            a(href='#media:twitter') Twitter
          li.disabled
            a(href='#media:email') Email
      li.grid-filter
      li.action-buttons.pull-right
        button.btn(name='reload', title='Reload Table') Reload
        button.tmp.btn.btn-danger.enable_if_selected(name='remove_selected', title='Remove Selected', disabled) Remove
    #t_report_action_cell.tpl
      a.btn.btn-info.btn-round.icon-report(title='View post in new window', name='view', href='#report/{{id}}')
      button.btn.btn-primary.btn-round.icon-edit.tmp(title='Edit', name='edit')
      button.tmp.btn.btn-danger.btn-round.icon-close(title='Remove', name='remove')
    table#report_table.grid-table
      caption.loading.icon-spinner.animate-spin
    .grid-paginator

// temp hide media-filter, edit and remove buttons

#report_viewer.modal.modal-full.hide.fade(aria-labelledby='report_viewer_title', aria-hidden='true')
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
    ul.nav.nav-tabs
      li
        a(href='')
          | Product Design
          | Report Detail
      li
        a(href='') Evaluated Result
      li.active
        a(href='') Evaluated Charts
      li
        a(href='') Feedback Collection
      li
        a(href='') Submitted Files
  .modal-body
    .span12
      div
        h1 Pie Chart
        canvas#chart1(width='800', height='400')
      div
        h1 Line Chart
        canvas#chart2(width='800', height='400')
  .modal-footer
    button.btn(data-dismiss='modal', aria-hidden='true') Close
