#workflow.frame.container-fluid
  #workflow_editor.row-fluid.inner-frame(name='editor')
    .span2.sidebar
      .well
        ul#node_list.sidebar-list.nav
          li.nav-header Common Nodes
          li
            a.node(href='#node:new') Empty Node
          li.nav-header Used Nodes
          li.nav-header Shared Nodes
        ul.sidebar-bottom.nav.nav-list
          li.divider
          li.nav-header Tips
          li.tips
            | Click a Node above
            | or Drag a Node from Sidebar to Workflow Editor
            | to Add a new Node.
    .span10.workspace
      #workflow_view.content-view
    #node_editor.modal.modal-full.hide.fade(aria-labelledby='node_editor_title', aria-hidden='true')
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h3#node_editor_title Node Editor
      .modal-body
        .sidebar.well
          ul#action_list.sidebar-list.nav.nav-list
            li.nav-header Common Action
            li
              a(href='#action:new') New Action
          ul.sidebar-bottom.nav.nav-list
            li.divider
            li.nav-header Tips
            li.tips Click a item above to add a Action to the list in the right.
        form.form-horizontal
          .control-group
            label.control-label(for='node_title') Title
            .controls
              input#node_title(type='text', name='title', placeholder='Node Name')
          .control-group
            label.control-label(for='node_name') Name
            .controls
              input#node_name(type='text', name='name', placeholder='node_name')
          .control-group
            label.control-label(for='node_desc') Description
            .controls
              textarea#node_desc.input-xlarge(name='desc', rows='1', placeholder='Description')
        #actions.well
          .box
            .box-header.well
              h4 Introduction
              .box-icon
                button.btn.btn-minimize.btn-round
                  i.icon.icon-up-open
                button.btn.btn-close.btn-round
                  i.icon.icon-close
            .box-content
              | content
      .modal-footer
        button.btn(data-dismiss='modal', aria-hidden='true') Close
        button.btn.btn-primary(data-action='save') Save
    #link_editor.modal.hide.fade(aria-labelledby='link_editor_title', aria-hidden='true')
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h3#link_editor_title Link Editor
      .modal-body
        form.form-horizontal
          .control-group
            label.control-label(for='link_title') Title
            .controls
              input#link_title(type='text', name='title', placeholder='Node Name')
          .control-group
            label.control-label(for='link_name') Name
            .controls
              input#link_name(type='text', name='name', placeholder='link_name')
          .control-group
            label.control-label(for='link_desc') Description
            .controls
              textarea#link_desc(name='desc', cols='30', rows='3', placeholder='Description')
      .modal-footer
        button.btn(data-dismiss='modal', aria-hidden='true') Close
        button.btn.btn-primary(data-action='save') Save
  #workflow_manager.active.row-fluid.inner-frame(name='manager')
    h4 Workflow Manager
    table.table.table-striped.table-hover
      thead
        tr
          th
            input(type='checkbox', name='select_all')
          th
            | #
          th
            | Name
          th
            | Status
          th
            | Date created
          th
            | Date modified
      tbody
        tr
          th
            input(type='checkbox', data-index='0')
          td
            | 1
          td
            a(href='#workflow/51447afb4728cb2036cf9ca1') Survey
          td
            | Idle
          td
            | 2013-05-06
          td
            | 2013-05-06
        tr
          th
            input(type='checkbox', data-index='0')
          td
            | 2
          td
            a(href='#workflow/51447afb4728cb2036cf9ca1') Advertise
          td
            | Idle
          td
            | 2013-05-06
          td
            | 2013-05-06
        tr
          th
            input(type='checkbox', data-index='0')
          td
            | 3
          td
            a(href='#workflow/51447afb4728cb2036cf9ca1') Research
          td
            | Idle
          td
            | 2013-05-06
          td
            | 2013-05-06
        tr
          th
            input(type='checkbox', data-index='0')
          td
            | 4
          td
            a(href='#workflow/51447afb4728cb2036cf9ca1') Design
          td
            | Idle
          td
            | 2013-05-06
          td
            | 2013-05-06
        tr
          th
            input(type='checkbox', data-index='0')
          td
            | 5
          td
            a(href='#workflow/51447afb4728cb2036cf9ca1') Temporary
          td
            | Idle
          td
            | 2013-05-06
          td
            | 2013-05-06
