.span2.sidebar
  .well.sidebar-nav
    ul.project-list.sidebar-list.nav.nav-list
    ul.sidebar-bottom.nav.nav-list
      li.divider
      li.nav-header Tips
      li.tips
        | Click Project List above to filter members by project.
.span10.workspace
  ul.action-bar
    li.head Member Manager
    li.action-buttons.pull-right
      button.btn.icon-refresh(name='reload', title='Reload Table') Reload
      button.btn.enable_if_selected(name='view_selected', title='View Selected', disabled).hide View
      button.btn.btn-danger.enable_if_selected(name='remove_selected', title='Remove Selected', disabled) Remove
      button.btn.btn-primary(name='create', title='Add Member') Add
    li.grid-filter
  #t_user_action_cell.tpl
    button.btn.btn-primary.btn-round.icon-edit(title='Edit', name='edit')
    button.hide.btn.btn-danger.btn-round.icon-close(title='Remove', name='remove')
  .grid-scroller
    table#user_table.grid-table
      caption.loading.icon-spinner.animate-spin
  .grid-paginator
