.span2.sidebar
  .well.sidebar-nav
    ul.sidebar-list.nav.nav-list
      li.nav-header Configuration
      li
        a(href='#config/tenant') Tenant Profile
      li.nav-header Connection
      li
        a(href='#config/service') Services Status
      li
        a(href='#config/service/facebook') Facebook
      li
        a(href='#config/service/twitter') Twitter
      li
        a(href='#config/service/email') Email
      li.nav-header Members
      li
        a(href='#config/users') Member List
    ul.sidebar-bottom.nav.nav-list
      li.divider
      li.nav-header Tips
      li.tips ...
.span10.workspace
  h3 Service Connector
  form.form-horizontal
