.span2.sidebar
  .well.sidebar-nav
    ul.sidebar-list.nav.nav-list
      li.nav-header Configuration
      li
        a(href='#config/tenant') Tenant Profile
      li.nav-header Connection
      li.active
        a(href='#config/service') Services Status
      li.nav-header Members
      li
        a(href='#config/users') Member List
    ul.sidebar-bottom.nav.nav-list
      li.divider
      li.nav-header Tips
      li.tips Click large buttons to connect services. Already connected services will show its status.
.span10.workspace
  h3 Service Connector
  #service_status
    button.btn.btn-block.btn-large.btn-facebook.icon-facebook(disabled) Connect to Facebook
    button.btn.btn-block.btn-large.btn-twitter.icon-twitter(disabled) Connect to Twitter
    button.btn.btn-block.btn-large.btn-email.icon-mail(disabled) Email Service
