#user_editor.modal.hide.fade(aria-labelledby='user_editor_title', aria-hidden='true')
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
    h3.modal-title#user_editor_title Create User
  .modal-body
    form.form-horizontal
      .control-group.edit-only
        label.control-label(for='user_avatar') Avatar
        .controls
          a#user_avatar.thumbnail(href='http://gravatar.com/emails/', target='_blank', title='Change your avatar at gravatar.com')
            img(alt='Avatar')
      .control-group
        label.control-label(for='user_email') Email
        .controls
          input#user_email(type='email', name='email', placeholder='user@company.com', maxlength='255', required)
      .control-group
        label.control-label(for='user_password') Password
        .controls
          input#user_password(type='password', placeholder='********',
          title='Length from 6 to 2048 characters', data-placement='right', pattern='.{6,2048}', maxlength='2048')
          input#user_password_confirm(type='password', placeholder='********',
          title='Repeat Password', data-placement='right', pattern='.{6,2048}', maxlength='2048')
          .help-inline.edit-only Leave them blank to keep current password.
      .control-group
        label.control-label(for='first_name') Full Name
        .controls
          input#first_name(type='text', name='first_name', placeholder='First Name',
          title='First Name', data-placement='right', maxlength='255', required)
          input#last_name(type='text', name='last_name', placeholder='Last Name',
          title='Last Name', data-placement='right', maxlength='255', required)
      .control-group
        label.control-label(for='user_sex') Sex
        .controls
          .btn-group#user_sex(data-toggle='buttons-radio')
            button.btn(type='button', name='sex', value='male') Male
            button.btn.active(type='button', name='sex', value='') Unspecified
            button.btn(type='button', name='sex', value='female') Female
      .control-group
        label.control-label(for='user_desc') Description
        .controls
          textarea#user_desc(name='desc', cols='30', rows='3', maxlength='2048', placeholder='Description')
      .control-group
        label.control-label(for='link_fb') Open Accounts
        .controls
          button.btn.btn-facebook.icon-facebook#link_fb(type='button', data-name='Facebook') Link Facebook Account
          button.btn.btn-twitter.icon-twitter.tmp(type='button', data-name='Twitter') Link Twitter Account
  .modal-footer
    button.btn(data-dismiss='modal', aria-hidden='true') Close
    button.btn.btn-primary.btn-save Save

//- TODO: projects/permissions
