.span2.sidebar
  #wf_template_list.well
    ul.workflow-list.sidebar-list.nav.nav-list
      li.nav-header Workflows
    ul.sidebar-bottom.nav.nav-list
      li.divider
      li.nav-header Tips
      li.tips
        | Click a Workflow above
        | to Add a new Project based on the selected Workflow.
.span10.workspace
  ul.action-bar
    li.head Project Manager
    li.action-buttons.pull-right
      button.btn.icon-refresh(name='reload', title='Reload Table') Reload
      button.btn.btn-danger.enable_if_selected(title='Batch Control Selected', disabled) Operation
    li.grid-filter
  #t_project_action_cell.tpl
    a.btn.btn-info.btn-round.icon-search(title='View', name='view', href='#project/{{id}}')
    button.btn.btn-danger.btn-round.icon-close(title='Remove', name='remove')
  .grid-scroller
    table.grid-table
      caption.loading.icon-spinner.animate-spin
  .grid-paginator
