.page-header
  .action-buttons.pull-right
    span.label.label-status
      small Status:
      span NONE
    a.btn(href='#project/mgr', title='Go back to Project Manager', data-placement='bottom') Back to List
    a.btn.btn-primary.btn-edit(data-placement='bottom') Edit
  h3
    span.project-name Project Viewer
    small.project-desc
.wf-diagram.well
