
@import 'bootstrap';

@import 'workflow';
@import 'calendar';

body {
  padding: 44px 0px;
}

.transition {
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

// Signin

#signin.mask {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: #f5f5f5;
}

.form-signin {
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  padding: 19px 29px 29px;
  margin: -150px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

// Console

.frame {
  display: none;
  padding-top: 20px;
}

iframe.frame {
  padding: 0px;
  position: absolute;
  width: 100%;
  min-height: 300px;
  background: #fff;
}

.frame.active {
  display: block;
}

.sidebar-nav {
  padding: 9px 0;
}

footer {
  padding: 1px 20px;
}

// Navbar

#navbar {
  box-shadow: 0px 0px 15px #333;
}

#avatar {
  width: 20px;
  height: 20px;
  float: left;
  margin: auto 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#navbar { // Hover Dropdown

  ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
  }

  li.dropdown .caret {
    border-top-color: #999;
    border-bottom-color: #999;
  }

  .dropdown-menu {
    margin-top: 0px;
  }
}

