@import 'common';
@import 'rich-editor';

.container {
  width: 90%;
  min-width: 600px;
  max-width: 900px;
}

.navbar-fixed-top {
  box-shadow: 0 0 15px #aaa;
  .container {
    width: 90%;
  }
  .nav-header {
    margin-top: 1px;
  }
  .sign-in {
    margin: 1px 20px 10px;
    width: 200px;
  }
}

#user_avatar {
  width: 200px;
  height: 200px;
}

.content {
  margin: 50px auto 20px auto;
}

section {
  margin: 15px;
}
