.frame-body {
  position: absolute;
  padding: 20px;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.frame-body .row-fluid {
  height: 100%;
}
.frame-body .row-fluid > div {
  height: 100%;
}
.frame-body .row-fluid .sidebar {
  padding: 0px;
  height: 100%;
}
.frame-body .row-fluid .sidebar :first-child .nav-header {
  margin-top: 1em;
}
.node {
  border: 1px solid #346789;
  box-shadow: 2px 2px 19px #aaa;
  -webkit-box-shadow: 2px 2px 19px #aaa;
  -moz-box-shadow: 2px 2px 19px #aaa;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  opacity: 0.8;
  white-space: nowrap;
  text-align: center;
  background-color: #eeeeef;
  color: black;
  font-family: helvetica;
  padding: 0.5em 1em;
  margin: 10px;
  font-size: 0.9em;
}
.node:hover {
  box-shadow: 2px 2px 19px #444;
  -webkit-box-shadow: 2px 2px 19px #444;
  -moz-box-shadow: 2px 2px 19px #444;
  opacity: 0.6;
}
.workflow {
  height: 300px;
  margin: 10px;
  position: relative;
  overflow: scroll;
}
.workflow .node {
  min-width: 5em;
  height: 5em;
  line-height: 5em;
  z-index: 20;
  position: absolute;
  padding: 0.5em 1em;
}
.workflow .node.active {
  border: 1px dotted green;
}
.workflow .node.hover {
  border: 1px dotted red;
}
.workflow ._jsPlumb_connector {
  z-index: 4;
}
.workflow ._jsPlumb_endpoint {
  z-index: 21;
}
.workflow .aLabel {
  background-color: white;
  padding: 0.4em;
  font: 12px sans-serif;
  color: #444;
  z-index: 21;
  border: 1px dotted gray;
  opacity: 0.8;
}
