.node { // shared by workflow and sidebar
  border: 1px solid #346789;
  -webkit-box-shadow: 2px 2px 13px #aaa;
  -moz-box-shadow: 2px 2px 13px #aaa;
  box-shadow: 2px 2px 13px #aaa;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  opacity: 0.8;
  white-space: nowrap;
  text-align: center;
  background-color: #eeeeef;
  color: black;
  font-family: helvetica;
  padding: 0.5em 1em;
  margin: 10px;
  font-size: 0.9em;

  &:hover {
    -webkit-box-shadow: 2px 2px 13px #444;
    -moz-box-shadow: 2px 2px 13px #444;
    box-shadow: 2px 2px 13px #444;
    opacity: 0.6;
  }
}

#workflow_view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; // 100px;
  overflow: auto;

  .node {
    min-width: 5em;
    height: 5em;
    line-height: 5em;
    z-index: 20;
    position: absolute;
    padding: 0.5em 1em;
    cursor: pointer;
    margin: 0;

    &.active {
      border: 1px dotted green;
    }

    &.hover {
      border: 1px dotted blue;
    }

    &.jsPlumb_dragged {
      cursor: move;
    }

  }

  .link {
    z-index: 4;
    cursor: pointer;
    &.hover, &:hover {
      z-index: 10;
    }
  }

  .endpoint {
    z-index: 21;
    cursor: move;
    &:after {
      position: absolute;
      visibility: hidden;
      content: ' ';
      padding: 30px;
    }
  }

  .link-label {
    background-color: white;
    padding: 0.4em;
    font: 12px sans-serif;
    color: #444;
    z-index: 21;
    border: 1px dotted gray;
    opacity: 0.8;
    cursor: pointer;
  }

}

#node_editor {
  width: 80%;
  margin-left: -40%;
}
