<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>
    <context:component-scan base-package="marxo.security"/>

    <http entry-point-ref="marxoAuthenticationEntryPoint" authentication-manager-ref="authenticationManager" use-expressions="true" path-type="regex">
        <!-- todo: enforces HTTPS -->
        <!-- Must allows all OPTIONS requests due to Chrome makes the request without credentials. -->
        <intercept-url pattern="/api/.*" requires-channel="any" access="true" method="OPTIONS"/>
        <!-- Anonymous user should be able to create account. -->
        <intercept-url pattern="/api/user.*" requires-channel="any" access="true" method="POST"/>
        <!-- Public page should be accessable to anyone. -->
        <intercept-url pattern="/api/pages?(/.*)?" requires-channel="any" access="true" method="GET"/>
        <intercept-url pattern="/api/.*" requires-channel="any" access="isAuthenticated()"/>
        <session-management>
            <!-- review: decide the value. -->
            <concurrency-control max-sessions="16"/>
        </session-management>
        <custom-filter ref="basicAuthenticationFilter" position="BASIC_AUTH_FILTER"/>
    </http>

    <authentication-manager id="authenticationManager">
        <authentication-provider ref="marxoAuthenticationProvider"/>
    </authentication-manager>

    <beans:bean id="basicAuthenticationFilter" class="marxo.security.MarxoBasicAuthenticationFilter">
        <beans:constructor-arg ref="authenticationManager"/>
        <beans:constructor-arg ref="marxoAuthenticationEntryPoint"/>
    </beans:bean>
</beans:beans>