<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="marxo.security"/>
    <context:component-scan base-package="marxo.filter"/>

    <security:http use-expressions="true" authentication-manager-ref="authenticationManager" entry-point-ref="basicAuthenticationEntryPoint">
        <security:intercept-url pattern="/api/**" requires-channel="any" access="isAuthenticated()"/>
        <security:custom-filter ref="marxoBasicAuthenticationFilter" position="BASIC_AUTH_FILTER"/>
        <security:access-denied-handler ref="accessDeniedHandler"/>
    </security:http>

    <bean id="basicAuthenticationEntryPoint"
          class="org.springframework.security.web.authentication.www.BasicAuthenticationEntryPoint">
        <property name="realmName" value="chamge-me"/>
    </bean>

    <security:authentication-manager id="authenticationManager">
        <security:authentication-provider ref="marxoAuthenticationProvider"/>
    </security:authentication-manager>

    <bean id="exceptionTranslationFilter"
          class="org.springframework.security.web.access.ExceptionTranslationFilter">
        <property name="authenticationEntryPoint" ref="basicAuthenticationEntryPoint"/>
        <property name="accessDeniedHandler" ref="accessDeniedHandler"/>
    </bean>

    <bean id="accessDeniedHandler"
          class="marxo.security.MarxoAccessDeniedHandler">
        <property name="errorPage" value="/accessDenied.htm"/>
    </bean>
</beans>