.span2.sidebar
  .well
    ul#node_list.sidebar-list.nav
      li.nav-header Common Nodes
      li
        a.node(href='#node:new') Empty Node
      li.nav-header Used Nodes
      li.nav-header Shared Nodes
    ul.sidebar-bottom.nav.nav-list
      li.divider
      li.nav-header Tips
      li.tips
        | Click a Node above
        | or Drag a Node from Sidebar to Workflow Editor
        | to Add a new Node.
.span10.workspace
  .page-header
    .action-buttons.pull-right
      a.btn(href='#workflow/mgr', title='Go back to Workflow Manager', data-placement='bottom') Back to List
      button.btn.btn-danger.wf-reset(title='Reset workflow to previous save', data-placement='bottom') Reset
      button.btn.btn-primary.wf-save(title='Save the workflow', data-placement='bottom') Save
    h3
      span.editable-title(title='Change Workflow Title', data-placement='bottom', contenteditable='true')
      small.editable-desc(title='Change Workflow Description', data-placement='bottom', contenteditable='true')
  #workflow_view.content-view
  div.tpl#t_popover
    .popover-desc {desc}
    .popover-buttons
      button.btn.btn-danger.btn-delete.pull-left Delete
      button.btn.btn-primary.btn-edit Edit
include editor/node_editor
include editor/link_editor
