.span2.sidebar
  #wf_template_list.well
    ul.sidebar-list.nav.nav-list
      li.nav-header Templates
      li.wf_tempate
        a(href='#workflow:new') Empty Workflow
      li.nav-header Workflows
    ul.sidebar-bottom.nav.nav-list
      li.divider
      li.nav-header Tips
      li.tips
        | Click a Template above
        | to Add a new Workflow based on the selected template.
.span10.workspace
  ul.action-bar
    li.head Workflow Manager
    li.grid-filter
    li.action-buttons.pull-right
      button.btn.icon-refresh(name='reload', title='Reload Table') Reload
      button.btn.btn-danger.icon-close.enable_if_selected(name='remove_selected', title='Remove Selected', disabled) Remove

  #t_workflow_action_cell.tpl
    a.btn.btn-primary.btn-round.icon-edit(title='Edit', name='edit', href='#workflow/{{id}}')
    button.btn.btn-danger.btn-round.icon-close(title='Remove', name='remove')

  table.grid-table
  .grid-paginator

include creator
