#workflow_manager.active.row-fluid.inner-frame(name='manager')
  h4 Workflow Manager
  table.table.table-striped.table-hover
    thead
      tr
        th
          input(type='checkbox', name='select_all')
        th
          | #
        th
          | Name
        th
          | Status
        th
          | Date created
        th
          | Date modified
    tbody
      tr
        th
          input(type='checkbox', data-index='0')
        td
          | 1
        td
          a(href='#workflow/51447afb4728cb2036cf9ca1') Survey
        td
          | Idle
        td
          | 2013-05-06
        td
          | 2013-05-06
      tr
        th
          input(type='checkbox', data-index='0')
        td
          | 2
        td
          a(href='#workflow/51447afb4728cb2036cf9ca1') Advertise
        td
          | Idle
        td
          | 2013-05-06
        td
          | 2013-05-06
      tr
        th
          input(type='checkbox', data-index='0')
        td
          | 3
        td
          a(href='#workflow/51447afb4728cb2036cf9ca1') Research
        td
          | Idle
        td
          | 2013-05-06
        td
          | 2013-05-06
      tr
        th
          input(type='checkbox', data-index='0')
        td
          | 4
        td
          a(href='#workflow/51447afb4728cb2036cf9ca1') Design
        td
          | Idle
        td
          | 2013-05-06
        td
          | 2013-05-06
      tr
        th
          input(type='checkbox', data-index='0')
        td
          | 5
        td
          a(href='#workflow/51447afb4728cb2036cf9ca1') Temporary
        td
          | Idle
        td
          | 2013-05-06
        td
          | 2013-05-06
