.span2.sidebar
  #wf_template_list.well
    ul.sidebar-list.nav.nav-list
      li.nav-header Templates
      li.wf_tempate
        a(href='#workflow:new') Empty Workflow
      li.nav-header Workflows
    ul.sidebar-bottom.nav.nav-list
      li.divider
      li.nav-header Tips
      li.tips
        | Click a Template above
        | to Add a new Workflow based on the selected template.
.span10.workspace
  ul
    li.btn-group.grid-filter
    li.btn-group.pull-right
      button.btn Reload
      button.btn.btn-danger(disabled) Delete

  table.grid-table
  .grid-paginator

include creator
