#node_editor.modal.modal-full.hide.fade(aria-labelledby='node_editor_title', aria-hidden='true')
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
    h3#node_editor_title Node Editor
  .modal-body
    .sidebar.well
      ul#action_list.sidebar-list.nav.nav-list
        +actions_thumb
      ul.sidebar-bottom.nav.nav-list
        li.divider
        li.nav-header Tips
        li.tips Click a item above to add a Action to the list in the right.
    form.form-horizontal
      .control-group
        label.control-label(for='node_title') Name
        .controls
          input#node_title(type='text', name='name', placeholder='Node Name', required)
      .control-group
        label.control-label(for='node_name') Key
        .controls
          input#node_name(type='text', name='key', placeholder='node_name', required)
      .control-group
        label.control-label(for='node_desc') Description
        .controls
          textarea#node_desc.input-xlarge(name='desc', rows='1', placeholder='Description')
    .node-actions.well
      #too_many_actions_alert.alert
        strong Too many actions!&nbsp;
        | Keep the logic of a node simple to understand and excute.

  .modal-footer
    button.btn(data-dismiss='modal', aria-hidden='true') Cancel
    button.btn.btn-primary.btn-save OK
