.box
  .box-header.well
    h4 Introduction
    .box-icon
      button.btn.btn-minimize.btn-round
        i.icon.icon-up-open
      button.btn.btn-close.btn-round
        i.icon.icon-close
  .box-content
    | content
