.span2.sidebar
  .well
    ul.sidebar-list.nav
      li.nav-header Unscheduled Events
    ul.sidebar-bottom.nav.nav-list
      li.divider
      li.nav-header Tips
      li.tips ...
.span10.workspace
  a.btn.btn-info.btn-mgr.icon-manager(href='#event/mgr') Manager View
  #calendar_view.content-view
    .loading.icon-spinner.animate-spin
