.span2.sidebar
  .well
    ul.sidebar-list.nav
      li.nav-header Events
      li
        a.external-event(href='#') Empty
      li
        a.external-event(href='#') Empty
    ul.sidebar-bottom.nav.nav-list
      li.divider
      li.nav-header Tips
      li.tips ...
.span10.workspace
  #calendar_view.content-view
    .loading.icon-spinner.animate-spin
