.span2.sidebar
  .well.sidebar-nav
    ul.project-list.sidebar-list.nav.nav-list
      li.nav-header Projects
      li
        a(href='#project:all') All
    ul.sidebar-bottom.nav.nav-list
      li.divider
      li.nav-header Tips
      li.tips
        | Click Project List above to filter by project.
.span10.workspace
  ul.action-bar
    li.head Event Manager
    li.action-buttons.pull-right
      a.btn.btn-info.icon-calendar(href='#event/calendar', title='View Events in Calendar') Calendar
      button.btn.icon-refresh(name='reload', title='Reload Table') Reload
    li.grid-filter
  #t_event_action_cell.tpl
    a.btn.btn-primary.btn-round.icon-edit(title='Edit', name='edit', href='#event/{{id}}')
    a.btn.btn-info.btn-round.icon-calendar(title='View in Calendar', name='view', href='#event/calendar/{{id}}')
  .grid-scroller
    table#event_table.grid-table
  .grid-paginator
