doctype 5
html(lang='en-US')
head
  meta(charset='utf-8')
  title MARXO Console
  link(href='css/console.css', rel='stylesheet', media='screen')
  body
    include html/signin
    #main
      include html/navbar
      #frames
        include html/home
        include html/project
        include html/workflow
        include html/calendar
        include html/content
        include html/report
        include html/config
        include html/profile
    script(data-main='js/main', src='js/lib/require.js')
