doctype 5
html(lang='en-US')
  head
    meta(charset='utf-8')
    title MARXO Website
    link(href='css/site.css', rel='stylesheet', media='screen')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='#') MARXO
          ul.nav.pull-right#user_profile
            li.dropdown
              a.dropdown-toggle.pointer(data-toggle='dropdown')
                img#avatar(src='data:image/gif;base64,R0lGODdhFAAUAPMKAPDw8Pz8/PPz89DQ0Onp6ff398DAwMrKysfHx+vr67a2tgAAAAAAAAAAAAAAAAAAACwAAAAAFAAUAAAERVDJSau9OM8BwNDVEIzBB0oCGQgnqrKtSJqxINBtrmsIURQERIugGhFAiSIpkTkoVQcM8WnEFKijAiaFhVkMXKXAsCuDIgA7')
                span#username Sign In
              ul.dropdown-menu#sign_in_menu
                li.nav-header Sign In
                li.sign-in
                  form#sign_in
                    input.input-block-level(type='email', name='email', placeholder='Email', maxlength='255', required)
                    input.input-block-level(type='password', name='password', placeholder='Password', maxlength='2048', required)
                    button.btn.btn-success(type='submit') Sign in
                    | &nbsp;
                    button.btn.btn-sign-up(type='button') Sign Up
                li.divider
                li.sign-in
                  button.btn.btn-facebook.icon-facebook Sign in with Facebook
              ul.dropdown-menu#user_menu.tpl
                li
                  a.icon-user.pointer#view_profile Profile
                li
                  a.icon-manager#go_console Console
                li.divider
                li
                  a.icon-logout.pointer#sign_out Sign Out
          ul.nav
            li
              a.icon-home(href='#home') Home
            li
              a.icon-project(href='#list') Projects

    include html/config/user

    #home_page.tpl
      #carousel.carousel.slide
        .carousel-inner
          .item.active
            img(src='img/slide_0.png', alt='Spread your idea')
            .container
              .carousel-caption
                h1 Spread your idea.
                p.lead
                  | Through Marxo, we spread your thoughts or mind to people, and make more people can see, and get their feebacks back to you.
                  br
                  | Then let you know, what others think about your ideas.
          .item
            img(src='img/slide_1.png', alt='Connect your dream')
            .container
              .carousel-caption
                h1 Connect your dream.
                p.lead
                  | At Marxo, we connect you to those dreams, and those unhappened possibilities. From small to large, we can make you dream real.
                  br
                  | Don'e be afraid, take a look of Marxo today!
          .item
            img(src='img/slide_2.png', alt='Powerful your project')
            .container
              .carousel-caption
                h1 Power your project.
                p.lead
                  | With Marxo's powerful functions, techniques, and abilities, we can help you to achieve your goal step by step.
                  br
                  | Take the free trial, then you'll find out.
          .item
            img(src='img/slide_3.png', alt='Speak loud')
            .container
              .carousel-caption
                h1 Speak loud.
                p.lead
                  | If you don't have any idea to get start, don't worry. You can contribute other people's idea and make yourself greater.
                  br
                  | Find interesting projects on Marxo, and let your opinion become valuable.
          .item
            img(src='img/slide_4.png', alt='What are you waiting')
            .container
              .carousel-caption
                h1 What are you waiting?
                p.lead
                  | People are wealth and benefits to Marxo. By connecting more people, thoughts and knowledge become better and greater everyday.
                  br
                  | We definetily need you, join Marxo, it's today!
        a.left.carousel-control(href='#carousel', data-slide='prev') ‹
        a.right.carousel-control(href='#carousel', data-slide='next') ›


    #content_tpl.tpl
      .tpl(name='page')
        h1 {{title}}
        p {{desc}}
        .form-mask.text-center.well
          em (Please sign-in to see the details)
        form.hide
          .sections {{sections}}
          .form-actions
            input.btn.btn-primary(type='submit', value='Submit')
            | &nbsp;
            input.btn(type='reset')
      .tpl(name='section')
        section
          legend.session-title {{title}}
          p.session-desc {{desc}}
          .session-body {{body}}
      .tpl(name='text')
        input.input-block-level(type='text', name='{{name}}', placeholder='Simple Text (Single Line)', required)
      .tpl(name='textarea')
        textarea.input-block-level(rows=3, name='{{name}}', placeholder='Simple Text (Multiple Line)', required)
      .tpl(name='html')
        include html/content/rich_editor
        mixin rich_editor('{{name}}')
      .tpl(name='radio')
        label.radio
          input(type='radio', name='{{name}}', value='{{value}}', required)
          | {{text}}
      .tpl(name='image')
        .fileupload.fileupload-new(data-provides='fileupload')
          .fileupload-preview.thumbnail(style='width: 200px; height: 150px;')
          div
            span.btn.btn-file
              span.fileupload-new Select
              span.fileupload-exists Change
              input(type='file', name='{{name}}', accept='image/*', required)
            a.btn.fileupload-exists(href='#', data-dismiss='fileupload') Remove
      .tpl(name='file')
        .fileupload.fileupload-new(data-provides='fileupload')
          span.btn.btn-file
            span.fileupload-new Select
            span.fileupload-exists Change
            input(type='file', name='{{name}}', accept, required)
          | &nbsp;
          span.fileupload-preview
          button.close.fileupload-exists(data-dismiss='fileupload') &times;

    #content.container

    script(data-main='js/site', src='js/lib/require.js', async)
