doctype 5
html(lang='en-US')
  head
    meta(charset='utf-8')
    title MARXO Website
    link(href='css/site.css', rel='stylesheet', media='screen')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='#') MARXO
          ul.nav.pull-right#user_profile
            li.dropdown
              a.dropdown-toggle.pointer(data-toggle='dropdown')
                img#avatar(src='data:image/gif;base64,R0lGODdhFAAUAPMKAPDw8Pz8/PPz89DQ0Onp6ff398DAwMrKysfHx+vr67a2tgAAAAAAAAAAAAAAAAAAACwAAAAAFAAUAAAERVDJSau9OM8BwNDVEIzBB0oCGQgnqrKtSJqxINBtrmsIURQERIugGhFAiSIpkTkoVQcM8WnEFKijAiaFhVkMXKXAsCuDIgA7')
                span#username Sign In
              ul.dropdown-menu#sign_in_menu
                li.nav-header Sign In
                li.sign-in
                  form#sign_in
                    input.input-block-level(type='email', name='email', placeholder='Email', maxlength='255', required)
                    input.input-block-level(type='password', name='password', placeholder='Password', maxlength='2048', required)
                    button.btn.btn-success(type='submit') Sign in
                    | &nbsp;
                    button.btn.btn-sign-up(type='button') Sign Up
                li.divider
                li.sign-in
                  button.btn.btn-facebook.icon-facebook Sign in with Facebook
              ul.dropdown-menu#user_menu.tpl
                li
                  a.icon-user.pointer#view_profile Profile
                li
                  a.icon-manager#go_console Console
                li.divider
                li
                  a.icon-logout.pointer#sign_out Sign Out
          ul.nav
            li(data-frame='home')
              a.icon-home(href='#home') Home

    include html/config/user

    #content_tpl.tpl
      .tpl(name='page')
        h1 {{title}}
        p {{desc}}
        form
          .sections {{body}}
          .form-actions.hide
            input.btn.btn-primary(type='submit', value='Submit')
            | &nbsp;
            input.btn(type='reset')
      .tpl(name='section')
        section
          legend.session-title {{title}}
          p.session-desc {{desc}}
          .session-body {{body}}
      .tpl(name='text')
        input.input-block-level(type='text', placeholder='Simple Text (Single Line)')
      .tpl(name='textarea')
        textarea.input-block-level(rows=3, placeholder='Simple Text (Multiple Line)')
      .tpl(name='html')
        include html/content/rich_editor
        mixin rich_editor('html')
      .tpl(name='radio')
        label.radio
          input(type='radio', name='{{name}}')
          | {{text}}
      .tpl(name='image')
        .fileupload.fileupload-new(data-provides='fileupload')
          .fileupload-preview.thumbnail(style='width: 200px; height: 150px;')
          div
            span.btn.btn-file
              span.fileupload-new Select
              span.fileupload-exists Change
              input(type='file', accept='image/*')
            a.btn.fileupload-exists(href='#', data-dismiss='fileupload') Remove
      .tpl(name='file')
        .fileupload.fileupload-new(data-provides='fileupload')
          span.btn.btn-file
            span.fileupload-new Select
            span.fileupload-exists Change
            input(type='file', accept)
          | &nbsp;
          span.fileupload-preview
          button.close.fileupload-exists(data-dismiss='fileupload') &times;

    .content.container
      .page-list
      .page-content

    script(data-main='js/site', src='js/lib/require.js', async)
