doctype 5
html(lang='en-US')
  head
    meta(charset='utf-8')
    title MARXO Website
    link(href='css/website.css', rel='stylesheet', media='screen')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='#') MARXO
          ul.nav.pull-right
            li
              a.pointer
                img#avatar(src='data:image/gif;base64,R0lGODdhFAAUAPMKAPDw8Pz8/PPz89DQ0Onp6ff398DAwMrKysfHx+vr67a2tgAAAAAAAAAAAAAAAAAAACwAAAAAFAAUAAAERVDJSau9OM8BwNDVEIzBB0oCGQgnqrKtSJqxINBtrmsIURQERIugGhFAiSIpkTkoVQcM8WnEFKijAiaFhVkMXKXAsCuDIgA7')
                span#username Sign In
          ul.nav
            li(data-frame='home')
              a.icon-home(href='#home') Home
    .content.container
