Tenant:
	_id: ObjectId("507f81413d070321728fdeff")
	name: 'test_tenant'
	desc: 'Test Tenant'
	title: 'Test Tenant'
	users: []
	type: 'Enum'
	status: 'Enum'
	created_at: new Date()
	updated_at: new Date()

Workflow:
	_id: ObjectId("507f81413d070321728fde06")
	name: 'demo_wf'
	desc: 'Demo Workflow'
	title: 'Demo Workflow'
	tenantId: ObjectId("507f81413d070321728fdeff")
	nodeIds: [ 'GUID' ]
	linkIds: [ 'GUID' ]
	type: 'Enum'
	status: 'Enum'
	created_at: new Date()
	updated_at: new Date()

Nodes: [
	_id: ObjectId("507f81413d070321728fde10")
	name: 'post_idea'
	desc: 'Post software project ideas'
	workflowId: ObjectId("507f81413d070321728fde06")
	tenantId: ObjectId("507f81413d070321728fdeff")
	actions: [ 'Action' ]
	type: 'Enum'
	status: 'Enum'
	created_at: new Date()
	updated_at: new Date()
,
	_id: ObjectId("507f81413d070321728fde11")
	name: 'post_cancel'
	desc: 'Post cancel notification'
	workflowId: ObjectId("507f81413d070321728fde06")
	tenantId: ObjectId("507f81413d070321728fdeff")
	actions: [ 'Action' ]
	type: 'Enum'
	status: 'Enum'
	created_at: new Date()
	updated_at: new Date()
,
	_id: ObjectId("507f81413d070321728fde12")
	name: 'post_req'
	desc: 'Post project requirement'
	workflowId: ObjectId("507f81413d070321728fde06")
	tenantId: ObjectId("507f81413d070321728fdeff")
	actions: [ 'Action' ]
	type: 'Enum'
	status: 'Enum'
	created_at: new Date()
	updated_at: new Date()
,
	_id: ObjectId("507f81413d070321728fde13")
	name: 'design_submit_email'
	desc: 'Retrieve theme design submissions & e-mail to stackholders'
	workflowId: ObjectId("507f81413d070321728fde06")
	tenantId: ObjectId("507f81413d070321728fdeff")
	actions: [ 'Action' ]
	type: 'Enum'
	status: 'Enum'
	created_at: new Date()
	updated_at: new Date()
,
	_id: ObjectId("507f81413d070321728fde14")
	name: 'notification'
	desc: 'Notification'
	workflowId: ObjectId("507f81413d070321728fde06")
	tenantId: ObjectId("507f81413d070321728fdeff")
	actions: [ 'Action' ]
	type: 'Enum'
	status: 'Enum'
	created_at: new Date()
	updated_at: new Date()
,
	_id: ObjectId("507f81413d070321728fde15")
	name: 'post_result'
	desc: 'Post & e-mail result everyone'
	workflowId: ObjectId("507f81413d070321728fde06")
	tenantId: ObjectId("507f81413d070321728fdeff")
	actions: [ 'Action' ]
	type: 'Enum'
	status: 'Enum'
	created_at: new Date()
	updated_at: new Date()
]

Links: [
	_id: ObjectId("507f81413d070321728fde21")
	name: 'to_cancel'
	desc: 'Cancel if link ccount < 300'
	workflowId: ObjectId("507f81413d070321728fde06")
	tenantId: ObjectId("507f81413d070321728fdeff")
	condition:
		leftOperand: 'like.account'
		leftOperandType: 'data.number'
		rightOperand: '300'
		rightOperandType: 'number'
		operator: '<'
		type: 'Enum'
	from: ObjectId("507f81413d070321728fde10")
	to: ObjectId("507f81413d070321728fde11")
	type: 'Enum'
	status: 'Enum'
	created_at: new Date()
	updated_at: new Date()
,
	_id: ObjectId("507f81413d070321728fde21")
	name: 'continue_to_req'
	desc: 'Continue to post requirement if like count >= 300'
	workflowId: ObjectId("507f81413d070321728fde06")
	tenantId: ObjectId("507f81413d070321728fdeff")
	condition:
		leftOperand: 'like.account'
		leftOperandType: 'data.number'
		rightOperand: '300'
		rightOperandType: 'number'
		operator: '>='
		type: 'Enum'
	from: ObjectId("507f81413d070321728fde10")
	to: ObjectId("507f81413d070321728fde12")
	type: 'Enum'
	status: 'Enum'
	created_at: new Date()
	updated_at: new Date()
,
	_id: ObjectId("507f81413d070321728fde22")
	workflowId: ObjectId("507f81413d070321728fde06")
	tenantId: ObjectId("507f81413d070321728fdeff")
	from: ObjectId("507f81413d070321728fde12")
	to: ObjectId("507f81413d070321728fde13")
	type: 'Enum'
	status: 'Enum'
	created_at: new Date()
	updated_at: new Date()
,
	_id: ObjectId("507f81413d070321728fde22")
	name: 'not_pass_to_notify'
	desc: 'Notification if pass rate <= 50%'
	workflowId: ObjectId("507f81413d070321728fde06")
	tenantId: ObjectId("507f81413d070321728fdeff")
	condition:
		leftOperand: 'pass.rate'
		leftOperandType: 'data.number'
		rightOperand: '50'
		rightOperandType: 'number'
		operator: '<'
		type: 'Enum'
	from: ObjectId("507f81413d070321728fde13")
	to: ObjectId("507f81413d070321728fde14")
	type: 'Enum'
	status: 'Enum'
	created_at: new Date()
	updated_at: new Date()
,
	_id: ObjectId("507f81413d070321728fde23")
	name: 'pass_to_post'
	desc: 'Post & e-mail to everyone if pass rate > 50%'
	workflowId: ObjectId("507f81413d070321728fde06")
	tenantId: ObjectId("507f81413d070321728fdeff")
	condition:
		leftOperand: 'pass.rate'
		leftOperandType: 'data.number'
		rightOperand: '50'
		rightOperandType: 'number'
		operator: '>'
		type: 'Enum'
	from: ObjectId("507f81413d070321728fde13")
	to: ObjectId("507f81413d070321728fde15")
	type: 'Enum'
	status: 'Enum'
	created_at: new Date()
	updated_at: new Date()
]
